<template>
  <div class="chart">
    <div class="chart__header">
      <h2 class="chart__title">Average Purchase Value</h2>
      <div>
        <select class="chart__filter">
          <option>Last 3 months</option>
          <option selected>Last 6 months</option>
          <option>Last years</option>
        </select>
        <img class="chart__more" src="../assets/more.svg" alt="More" width="10">
      </div>
    </div>
    <div class="chart__body">
      <canvas id="avg-purchase-value"></canvas>
    </div>
    <p></p>
  </div>
</template>

<script>
  import Chart from 'chart.js'
  import chartData from '../data/chart-data'

  export default {
    data() {
      return {
        chartData: chartData,
      }
    },
    methods: {
      createChart(chartId, chartData) {
        const ctx = document.getElementById(chartId);
        new Chart(ctx, {
          type: chartData.type,
          data: chartData.data,
          options: chartData.options,
        });
      }
    },
    mounted() {
      this.createChart('avg-purchase-value', this.chartData);
    }
  }
</script>

<style scoped>
  .chart {
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 2px 6px #0000000A;
    border: 0.5px solid #CDCDCD;
    border-radius: 2px;
  }

  .chart__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .chart__title {
    color: #4D4F5C;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
  }

  .chart__more {
    cursor: pointer;
  }

  .chart__filter {
    padding: 5px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    box-shadow: 0px 2px 6px #0000000A;
    border: 0.5px solid #CDCDCD;
    border-radius: 5px;
    margin-right: 15px;
  }

  .chart__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>