<template>
  <div class="kpi">
    <div class="kpi__header">
      <h2 class="kpi__title">Sales Turnover</h2>
      <img class="kpi__more" src="../assets/more.svg" alt="More" width="10">
    </div>
    <div class="kpi__body">
      <div>
        <div class="kpi__value">Rp 3,600,000</div>
        <div class="kpi__description">
          <span class="kpi__down">
            <img src="../assets/down-arrow.svg" alt="Down" width="8">
            13.8%
          </span>
          last period in products sold
        </div>
      </div>
      <img class="kpi__icon" src="../assets/cart.svg" alt="Cart" width="50">
    </div>
    <p></p>
  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped>
  .kpi {
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 2px 6px #0000000A;
    border: 0.5px solid #CDCDCD;
    border-radius: 2px;
  }

  .kpi__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .kpi__title {
    color: #00000080;
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
  }

  .kpi__more {
    cursor: pointer;
  }

  .kpi__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .kpi__value {
    color: #4D4F5C;
    font-size: 2em;
    font-weight: 700;
  }

  .kpi__description {
    color: #00000080;
    font-size: 0.8em;
    margin-top: 5px;
  }

  .kpi__down {
    color: #FF4141;
    font-weight: 700;
    ;
  }

  .kpi__icon {
    margin: 0 20px;
  }
</style>