<template>
  <div class="products">
    <div class="products__header">
      <h2 class="products__title">{{ title }}</h2>
      <img class="products__more" src="../assets/more.svg" alt="More" width="10">
    </div>
    <div v-for="(product, index) in products" :key="index">
      <product-lists-item :product="product"></product-lists-item>
    </div>
    <p></p>
  </div>
</template>

<script>
  import ProductListsItem from './ProductListsItem.vue'

  export default {
    components: {
      ProductListsItem
    },
    props: {
      title: {
        type: String,
        required: true
      },
      products: {
        type: Array,
        required: true
      }
    }
  }
</script>

<style scoped>
  .products {
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 2px 6px #0000000A;
    border: 0.5px solid #CDCDCD;
    border-radius: 2px;
  }

  .products__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .products__title {
    color: #4D4F5C;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
  }

  .products__more {
    cursor: pointer;
  }

  .products__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>