<template>
  <div class="product">
    <img class="product__cover" :src="product.img_url" :alt="product.name">
    <div class="product__content">
      <h3 class="product__name">{{ product.name }}</h3>
      <div class="product__info">
        <div>{{ product.price }}</div>
        <div>{{ product.sold_qty }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      product: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style scoped>
  .product {
    display: flex;
    align-items: center;
    border: 0.5px solid #C5C5C59C;
    border-radius: 4px;
    margin: 10px 0;
  }

  .product__cover {
    width: 30%;
    height: 100%;
  }

  .product__content {
    flex-grow: 1;
    margin: 10px;
  }

  .product__name {
    color: #000000DE;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
  }

  .product__info {
    display: flex;
    justify-content: space-between;
    color: #00000099;
    font-size: 0.9em;
  }
</style>