<template>
  <app-layout>
    <div class="top">
      <h1 class="top__title">Dashboard</h1>
      <div class="top__filter">
        <div class="top__filter-container">
          <div>
            <img src="./assets/calendar.png" alt="Calendar" width="16">
            Period
          </div>
          <div class="top__filter-values" @click="openDatePicker">
            {{ displayRangeDate }}
            <img src="./assets/chevron-down.svg" alt="Expand" width="20" v-show="!isOpen">
            <img src="./assets/close.svg" alt="Close" width="20" v-show="isOpen">
          </div>
        </div>
        <div class="date-filter" v-show="isOpen">
          <div class="date-filter__options">
            <div class="date-filter__option" @click="optionFilter(0)">
              Today
            </div>
            <div class="date-filter__option" @click="optionFilter(1)">
              Yesterday
            </div>
            <div class="date-filter__option" @click="optionFilter(2)">
              Last 7 days
            </div>
            <div class="date-filter__option" @click="optionFilter(3)">
              Last 30 days
            </div>
            <div class="date-filter__option" @click="optionFilter(4)">
              This Month
            </div>
            <div class="date-filter__option" @click="optionFilter(5)">
              Custom
            </div>
            <button class="date-filter__apply" @click="applyFilter">
              Apply
            </button>
          </div>
          <v-date-picker
            v-model="range"
            is-range
            color="green"
            :columns="2"
            :max-date="new Date()"
          ></v-date-picker>
        </div>
      </div>
    </div>
    <div class="help">
      <p class="help__title">Market Insights</p>
      <div class="help__link">
        <img src="./assets/help.png" alt="Help" width="16">
        Click Here for Help
        <img src="./assets/chevron-up.svg" alt="Expand" width="20">
      </div>
    </div>
    <div class="kpis">
      <kpi-info></kpi-info>
    </div>
    <div class="details">
      <avg-purchase-value></avg-purchase-value>
      <product-lists title="Best Selling SKU" :products="products1"></product-lists>
      <product-lists title="Top Competitor SKU" :products="products2"></product-lists>
    </div>
  </app-layout>
</template>

<script>
  import moment from 'moment'
  import AppLayout from './layouts/AppLayout.vue'
  import KpiInfo from './components/KpiInfo.vue'
  import AvgPurchaseValue from './components/AvgPurchaseValue.vue'
  import ProductLists from './components/ProductLists.vue'
  import productsData from './data/products'

  export default {
    name: 'App',
    components: {
      AppLayout,
      KpiInfo,
      AvgPurchaseValue,
      ProductLists
    },
    data() {
      return {
        products1: productsData.bestSelling,
        products2: productsData.topCompetitor,
        isOpen: false,
        range: {
          start: new Date(new Date().setDate(new Date().getDate() - 7)),
          end: new Date()
        }
      }
    },
    computed: {
      displayRangeDate() {
        const start = this.range.start
        const end = this.range.end
        return moment(start).locale('id').format('LL') +' - ' +moment(end).locale('id').format('LL')
      }
    },
    methods: {
      openDatePicker() {
        this.isOpen = !this.isOpen
      },
      applyFilter() {
        this.isOpen = false
      },
      optionFilter(type) {
        const newData = {}
        switch (type) {
          case 0: {
            newData.start = new Date()
            newData.end = new Date()
            this.range = newData
            break
          }
          case 1: {
            newData.start = new Date(new Date().setDate(new Date().getDate() - 1))
            newData.end = new Date(new Date().setDate(new Date().getDate() - 1))
            this.range = newData
            break
          }
          case 2: {
            newData.start = new Date(new Date().setDate(new Date().getDate() - 7))
            newData.end = new Date()
            this.range = newData
            break
          }
          case 3: {
            newData.start = new Date(new Date().setDate(new Date().getDate() - 30))
            newData.end = new Date()
            this.range = newData
            break
          }
          case 4: {
            newData.start = new Date(new Date().setDate(1))
            newData.end = new Date()
            this.range = newData
            break
          }
          case 5: {
            this.range = newData
            break
          }
        }
      }
    }
  }
</script>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    font-family: 'Source Sans Pro', sans-serif;
  }
</style>

<style scoped>
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .top__title {
    font-size: 40px;
    font-weight: 600;
    color: #707070C4;
    margin-top: 0;
  }

  .top__filter {
    background-color: #FFFFFF;
    padding: 10px 20px;
    color: #8B8B8B;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 2px;
  }

  .top__filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top__filter-values {
    margin: 0 10px;
    color: #6A6A6A;
    cursor: pointer;
  }

  .date-filter {
    background-color: #FFFFFF;
    display: flex;
    margin-top: 40px;
  }

  .date-filter__options {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #00000030;
  }

  .date-filter__option {
    padding: 10px 0;
    padding-right: 30px;
    border-bottom: 1px solid #00000030;
    cursor: pointer;
  }

  .date-filter__option:last-of-type {
    border-bottom: none;
  }

  .date-filter__apply {
    background-color: #37B04C;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37B04C;
    color: #FFFFFF;
    padding: 15px;
    margin: 20px 0;
  }

  .help__title {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
  }

  .help__link {
    font-size: 0.9em;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
  }

  .kpis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 20px 0;
  }

  .details {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px;
    margin: 20px 0;
  }
</style>