<template>
  <div class="layout">
    <header class="header">
        <div class="header__content">
          <img src="../assets/logo.jpg" alt="Logo" width="100">
          <div class="header__profile">
            <div class="header__user">
              <span>Username</span>
              <span>Company Name</span>
            </div>
            <img src="../assets/profile.svg" alt="Profile" height="30">
            <img src="../assets/logout.png" alt="Logout" height="30">
          </div>
        </div>
    </header>
    <nav class="sidebar">
        <div class="sidebar__content">
          <div class="sidebar__menu--active">
            <div class="sidebar__box-icon">
              <img src="../assets/dashboard.svg" alt="Dashboard" height="20">
            </div>
          </div>
        </div>
    </nav>
    <main class="main">
        <slot></slot>
    </main>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
  .header {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 10;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__profile {
    display: flex;
  }
  .header__profile > * {
    margin: 0 8px;
  }
  .header__user {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 72px;
    height: 100vh;
    border-right: 0.5px solid #D2D2D2;
  }
  .sidebar__content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .sidebar__menu--active {
    width: 100%;
    background-color: #D2D2D2;
    text-align: center;
    padding: 5px;
  }
  .sidebar__box-icon {
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
  }
  .main {
    max-width: 1800px;
    padding: 0 100px;
    margin: 100px auto;
  }
</style>
